body {
	background: #3E4548;
	color: #A3A3A3;
	font-family: proxima-nova;
}
h1 {
	color: #FFFFFF;
}
#left {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
}
#right {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
}
